<table>
  <thead>
    <tr>
    	<th>Number</th>
      <th>Roman Numeral</th>
      <th>Spanish</th>
    </tr>
  </thead>

  <tbody>
  	<% 500.times do |num| %>
	    <tr align="center">
	      <td><%= num %></td>
	      <td><%= num.to_roman %></td>
	      <td><%= num.to_spanish %></td>
	    </tr>
	    <% end %>
  </tbody>
</table>